@model IEnumerable<IdentityRoleClaim<string>>
@using AthenaWebApp.Data

@{
    ViewData["Title"] = "Index";
    bool active = false;
    var b = 0;

}

<script type='text/javascript'>
    $(document).ready(function(){
        //Iterates through each of the rows in your customers <table>
        $('#dataset tr').each(function(){
          //Checks the value and sets the color accordingly
          if($(this).find('td:last').text().trim() === "1"){
              $(this).css('background','green');
          }
        });
    });
</script>

<script>
function markRow(el) {
    if(!el) return;
    var clr = el.checked ? '#7fff00' : ''
    while(el) {
        if(el.tagName.toLowerCase() == 'tr') {
            el.style.backgroundColor = clr;
            return;
        }
        el = el.parentNode;
    }
} 
</script>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.linie {
  border-top:1px solid black;
  width:150px;
}
tr:hover {background-color:yellow;}
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="height:350px;overflow:auto;">

@using (Html.BeginForm(FormMethod.Post))
    {
        <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimType)
            </th>
        </tr>
    </thead>
    <tbody>
        @using (Html.BeginForm("Role", "Add", FormMethod.Post)){
@foreach (var item in Model) {
    @if (item.ClaimValue.Contains("true"))
    {
        <tr class="dataset" style="background-color:#7fff00">
            <td>
                <button class="btn btn-sm btn-danger" asp-action="Remove" asp-route-id="@item.Id">Remove</button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimType)
            </td>
        </tr>
    }
    else
    {
        <tr class="label label-warning" style="background-color:red">
            <td>
                <input type="submit" value="Submit"/>
                <button class="btn btn-sm btn-primary" type="submit" asp-action="Add" asp-route-id="@item.Id">Add</button>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimType)
            </td>
        </tr>    
    }
}
}
    </tbody>
</table>
    }

</div>

<input type="submit" value="Save" />
