@model IEnumerable<IdentityRoleClaim<string>>
@using AthenaWebApp.Data

@{
    ViewData["Title"] = "Index";

}


<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    .linie {
        border-top: 1px solid black;
        width: 150px;
    }

    tr:hover {
        background-color: yellow;
    }
</style>

<h1>Change Role-Claims</h1>

<div style="height:350px;overflow:auto;">

    @using (Html.BeginForm(FormMethod.Post))
    {
        <table class="claimTable">
            <thead>
                <tr>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.ClaimType)
                    </th>
                    <th class="hide" width="1px">
                    </th>
                    <th class="hide" width="1px">
                    </th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    @if (item.ClaimValue.Contains("true"))
                    {
                        <tr style="background-color:#7fff00">
                            <td>
                                <input type="button" class="btn btn-danger" id="ChangeClaim" name="Remove" value="Remove" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimType)
                            </td>
                            <td class="hide" style="width: 1px">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="hide" style="width: 1px">
                                @Html.DisplayFor(modelItem => item.ClaimValue)
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr style="background-color:red">
                            <td>
                                <input type="button" class="btn btn-primary" id="ChangeClaim" name="Add" value="Add" />
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClaimType)
                            </td>
                            <td class="hide" style="width: 1px">
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td class="hide" style="width: 1px">
                                @Html.DisplayFor(modelItem => item.ClaimValue)
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }

</div>