@model IEnumerable<System.Security.Claims.Claim>
@using AthenaWebApp.Data
@{
    ViewData["Title"] = "Index";
    bool active = false;

}

<style>
table {
  border-collapse: collapse;
  width: 100%;
}

td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

tr:hover {background-color:yellow;}
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>Activated</th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            
                @for(var i = 0; i < ClaimData.ClaimTypes.Count; i++)
                {
                    for (var j = 0; j < ClaimData.ClaimValues.Count; j++)
                    {
                        <td>@ClaimData.ClaimTypes[i]</td>
                    }
                }
            
            
                @for(var i = 0; i < ClaimData.ClaimTypes.Count; i++)
                {
                    for (var j = 0; j < ClaimData.ClaimValues.Count; j++)
                    {
                        <td>@ClaimData.ClaimValues[j]</td>
                    }
                }
            
            <td>
            </td>

        </tr>
}
    </tbody>
</table>

<h1>Add New Claim</h1>
<form method="post" id="addForm">
    <div class="row">
        <div class="col">
            <select class="form-control" name="type">
                @foreach (var claimType in
                           ClaimData.ClaimTypes)
                {
                    <option value="@claimType">
                        @claimType
                    </option>
                }
            </select>
</form>