@model IEnumerable<IdentityRoleClaim<string>>
@using AthenaWebApp.Data

@{
    ViewData["Title"] = "Index";
    bool active = false;
    var b = 0;

}

<script>
    
function markRow(el) {
    if(!el) return;
    var clr = el.checked ? '#7fff00' : ''
    while(el) {
        if(el.tagName.toLowerCase() == 'tr') {
            el.style.backgroundColor = clr;
            return;
        }
        el = el.parentNode;
    }
} 
</script>
<style>
table {
  border-collapse: collapse;
  width: 100%;
}
td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
.linie {
  border-top:1px solid black;
  width:150px;
}
tr:hover {background-color:yellow;}
</style>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div style="height:350px;overflow:auto;">


@using (Html.BeginForm())
    {
        <table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClaimValue)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClaimValue)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
            </td>
        </tr>
}
    </tbody>
</table>
<input type="submit" value="submit" />
    }

</div>