@model AthenaWebApp.Areas.Identity.IdentityModels.UserExtension

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">E-Mail
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">Email confirmed
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt class = "col-sm-2">Associated Company
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CompanyId)
        </dd>
        <dt class = "col-sm-2">Registration on
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisteredSince)
        </dd>
        <dt class = "col-sm-2">Last activity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastActivity)
        </dd>
        <dt class = "col-sm-2">Logged in
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LoggedIn)
        </dd>
        <dt class = "col-sm-2">Locked
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LockoutEnabled)
        </dd>
        <dt class = "col-sm-2">Photo
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfilePicture)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
