@model AthenaWebApp.Models.UserActivity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>UserActivity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            User
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserExtension.UserName)
        </dd>
        <dt class = "col-sm-2">
            Activity
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Activity.ActivityType)
        </dd>
        <dt class = "col-sm-2">
            Company
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Company.CompanyName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StopTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StopTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SumDistance)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SumDistance)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
