@model IEnumerable<AthenaWebApp.Models.Badge>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GeneralBadge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadgeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DistanceForBadge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadgeDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BadgeImage)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GeneralBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity.ActivityType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DistanceForBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeDescription)
            </td>
            <td>
                <div class="form-group">
                    @if (@item.BadgeImage != null)
                    {
                        <img id="profilePicture" style="width:100px;height:100px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(@item.BadgeImage))">
                    }
                    else
                    {
                        <img id="profilePicture" style="width: 80px; height: 80px; object-fit: cover " src="">
                    }
                    <span asp-validation-for="@item.BadgeImage" class="text-danger"></span>
                </div>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
